@model List<SaleOrderLine>
@{
    ViewData["Title"] = "SaleOrderLine";
}


<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">SaleOrderLine</h6>
            <a asp-action="Cre_SaleOrderLine" asp-controller="Order" class="btn btn-success">Add</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-info">
                            <th>Id</th>
                            <th>Product</th>
                            <th>CustomerId</th>
                            <th>SaleOrderId</th>
                            <th>Quantity</th>
                            <th>Variant</th>
                            <th>Action</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.Id</td>
                                <td><img src="@i.Product.Img" style="width:50px;height:50px" /></td>
                                <td>@i.CustomerId</td>
                                <td>@i.SaleOrderId</td>
                                <td>@i.Quantity</td>
                                <td>@i.Variant</td>
                                <td><a asp-action="Edit_SaleOrderLine" asp-route-id="@i.Id"><i class="bi bi-eraser-fill text-warning"></i></a></td>
                                <td><a asp-action="Delete_SaleOrderLine" asp-route-id="@i.Id"><i class="bi bi-trash2-fill text-danger"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>