@model ProductDetail
@if (ViewData["UserId"] != null)
{
     <p class="UserId d-none">@ViewData["UserId"]</p>
}


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="1000">
                            <img src="@Model.Product.Img" class="d-block w-100" alt="...">
                        </div>
                        @foreach (var i in Model.Imgs)
                        {
                            <div class="carousel-item">
                                <img src="@i.Path" class="d-block w-100" alt="...">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: @Model.Product.SKU</div>
                <h1 class="display-5 fw-bolder">@Model.Product.Name</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through text-danger">$@Model.Product.Price</span>
                    <span class="text-info">$@Model.Product.SellPrice</span>
                </div>
                <p class="lead">@Model.Product.DesShort</p>

                <div class="row gx-4 gx-lg-5 align-items-center mb-3">
                    @foreach (var i in Model.attribute_Pros)
                    {
                        <div class="col-md-6">
                            <label for="@i.Name" class="fs-4">@i.Name</label>
                            <div id="@i.Id" data-name="@i.Name" data-type="@i.DisplayType">
                            </div>
                        </div>
                    }
                </div>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0 me-3 add-cart" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                    <a class="btn btn-outline-dark flex-shrink-0 buy-now">
                        <i class="bi-cart-fill me-1"></i>
                        Buy Now
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Mô Tả Sản Phẩm
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                @Model.Product.DesLong
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Đánh Gía Sản Phảm
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                lorem
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
               
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var i in Model.ProductsRelate)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="@i.Img" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@i.Name</h5>
                                <!-- Product price-->
                                <p class="text-info">$@i.Price</p>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-action="ProDetail" asp-route-id="@i.Id">View options</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Script {
    <script>
        $(document).ready(function () {
            for (var i = 1; i <= @Model.attribute_Pros.Count; i++) {
                let inputContainer = $(`#${i}`);
                let name = inputContainer.attr('data-name');
                let type = inputContainer.attr('data-type');
                $.ajax({
                    type: 'GET',
                    url: '/User/Home/GetAttr_Va',
                    data: { id: i },
                    success: function (data) {
                        $.each(data, function (index, inputData) {
                            var inputHtml = `<input type="${type}" name="${name}" id="${inputData.id}" value="${inputData.name}" />
                                              <label for="${inputData.id}" >${inputData.name}</label><br>`;
                            inputContainer.append(inputHtml);
                        });
                    }
                })
            }
            $('.add-cart').click(function () {
                if ($('.UserId').text()) {
                    var UserId = $('.UserId').text();
                    var quan = Number($('#inputQuantity').val());
                    var proId = @Model.Product.Id;
                    var Color = $('input[name="Color"]:checked').val();
                    var Size = $('input[name="Size"]:checked').val();
                    var cart = localStorage.getItem(`shoppingCart-${UserId}`);
                    cart = cart ? JSON.parse(cart) : [];
                    const item = cart.find(i => i.ProductId === proId && i.Attributes.Color === Color && i.Attributes.Size == Size);
                    if (item) {
                        item.Quantity += Number(quan);
                        localStorage.setItem(`shoppingCart-${UserId}`, JSON.stringify(cart));
                        alert(`Update ${quan}`)
                        location.reload();
                    }
                    else {
                        if (Color != undefined && Size != undefined) {
                            cart.push({UserId: UserId, ProductId: proId, Quantity: quan, Attributes: { Color: Color, Size: Size } });
                            localStorage.setItem(`shoppingCart-${UserId}`, JSON.stringify(cart));
                            alert("Success")
                            location.reload();
                        } else {
                            alert("Fill all field")
                        }
                    }
                } else {
                    var quan = Number($('#inputQuantity').val());
                    var proId = @Model.Product.Id;
                    var Color = $('input[name="Color"]:checked').val();
                    var Size = $('input[name="Size"]:checked').val();
                    var cart = localStorage.getItem('shoppingCart');
                    cart = cart ? JSON.parse(cart) : [];
                    const item = cart.find(i => i.ProductId === proId && i.Attributes.Color === Color && i.Attributes.Size == Size);
                    if (item) {
                        item.Quantity += Number(quan);
                        localStorage.setItem('shoppingCart', JSON.stringify(cart));
                        alert(`Update ${quan}`)
                        location.reload();
                    }
                    else {
                        if (Color != undefined && Size != undefined) {
                            cart.push({ ProductId: proId, Quantity: quan, Attributes: { Color: Color, Size: Size } });
                            localStorage.setItem('shoppingCart', JSON.stringify(cart));
                            alert("Success")
                            location.reload();
                        } else {
                            alert("Fill all field")
                        }
                    }
                }
               
            })



            $('.buy-now').click(function () {
                if ($('.UserId').text()) {
                    var UserId = $('.UserId').text();
                    var quan = Number($('#inputQuantity').val());
                    var proId = @Model.Product.Id;
                    var Color = $('input[name="Color"]:checked').val();
                    var Size = $('input[name="Size"]:checked').val();
                    
                } else {
                    var quan = Number($('#inputQuantity').val());
                    var proId = @Model.Product.Id;
                    var Color = $('input[name="Color"]:checked').val();
                    var Size = $('input[name="Size"]:checked').val();
                   
                }

            })
        })
    </script>
}